body{
    font-family: 'Roboto', sans-serif;
    background-color: bisque;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 50px;
}
.name{
    color: orangered;
}
p{
    color: dimgray;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
   
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(146, 122, 255), rgb(71, 83, 255));
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
#h{
    text-align:center;
}
section{
    height:500px;
    padding-bottom: 150px;
}
.t-width{
    width: 20%;
    float: left;
    padding-left: 5%;
    margin-left: 4%;
    text-align: center;
}
.singel{
    box-shadow: 10px 10px 40px grey;
    border-radius: 10px;
    height: 80%;
}
#full{
    border-left: 7px solid;
    border-image:linear-gradient(180deg,lightsalmon, tomato);
    border-image-slice: 1;
}
#baby{
    border-left: 7px solid;
    border-image:linear-gradient(180deg,blue, cyan);
    border-image-slice: 1;
}
.new{
    background: url(shapes/Group_33094_1.png) no-repeat center fixed;
    background-size: cover;
    width: 1200px;
    border-radius: 30px;
    float: left;
    color: aliceblue;
    position: relative;
    margin-left: 200px;
}
.lnk-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(236, 67, 25), rgb(240, 54, 8));
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
#hh{
    padding: 20px;
}
#margin{
    text-align:right ;
    padding-bottom: 50px;
}
.last{
    width: 100%;
    text-align: center;
}